python-dotenv
numpy
pandas
Flask
scikit-learn
requests
Pillow
groq
markdown
tavily-python
matplotlib==3.8.4
xhtml2pdf
gunicorn
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.0+cpu
torchvision==0.17.0+cpu
